In [1]:
pip install yelpapi

Requirement already satisfied: yelpapi in /Users/marinaduarte/opt/anaconda3/lib/python3.8/site-packages (2.4.0)
Requirement already satisfied: requests in /Users/marinaduarte/opt/anaconda3/lib/python3.8/site-packages (from yelpapi) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/marinaduarte/opt/anaconda3/lib/python3.8/site-packages (from requests->yelpapi) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /Users/marinaduarte/opt/anaconda3/lib/python3.8/site-packages (from requests->yelpapi) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/marinaduarte/opt/anaconda3/lib/python3.8/site-packages (from requests->yelpapi) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/marinaduarte/opt/anaconda3/lib/python3.8/site-packages (from requests->yelpapi) (2020.6.20)
WARNING: You are using pip version 20.2.4; however, version 20.3.3 is available.
You should consider upgrading via the '/Users/marinaduarte/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [34]:
# Get list of 100 largest cities in US by population

from yelpapi import YelpAPI
import pandas as pd
import requests
url = "https://www.nationalpopularvote.com/100-biggest-cities-have-59849899-people-and-rural-areas-have-59492267-people"
response = requests.get(url)
tables = pd.read_html(url)
cities = tables[0]
cities = cities.rename(columns=cities.iloc[0])
cities = cities[['City']]
city_list = (cities['City']).tolist()
city_list = city_list[1:21]
len(city_list)

20

In [35]:
client_id = 'QFEVJMDVtV4QHEUVepKk1w'
api_key = '9OcFOk6yy50Q515gwbQBpIJkBjiSbLfJkERDt0PBL2ccytMe8euGxRQsECS6DbH0P1vvBjxMHaVvnhVY-BDXpHLCzugOE5l6gcNjMBGArfR6d4MpjclMXHnjVaIHYHYx'



yelp_api = YelpAPI(api_key)

In [39]:
records = []

term = 'restaurant'
search_limit = 50

for location in city_list:
    response = yelp_api.search_query(term = term,
                                  location = location,
                                  limit = search_limit)

    for business in response['businesses']:
        #print(business.keys())
        try:
            record = {
                'id':business['id'],
                'name':business['name'],
                'review_count':business['review_count'],
                'location': business['location']['city'],
                'category': business['categories'][0]['title'],
                'rating': business['rating'],
                'price':business['price'],
                'latitude':business['coordinates']['latitude'],
                'longitude':business['coordinates']['longitude'],
                'is_closed':business['is_closed'],
                #'delivery':business['transactions']
            }
        except:
            #print('Record not found')
            pass
    
        records.append(record)
        
        
#print(records)

In [40]:
city_list

['New York, NY',
 'Los Angeles, CA',
 'Chicago, IL',
 'Houston, TX',
 'Philadelphia, PA',
 'Phoenix, AZ',
 'San Antonio, TX',
 'San Diego, CA',
 'Dallas, TX',
 'San Jose, CA',
 'Jacksonville, FL',
 'Indianapolis, IN',
 'San Francisco, CA',
 'Austin, TX',
 'Columbus, OH',
 'Fort Worth, TX',
 'Charlotte, NC',
 'Detroit, MI',
 'El Paso, TX',
 'Memphis, TN']

In [41]:
df = pd.DataFrame.from_dict(records)
df

,id,name,review_count,location,category,rating,price,latitude,longitude,is_closed
0,ETgJqJHV7BW6pIr9Ox74sA,Amélie,2699,New York,French,4.5,$$,40.732700,-73.997660,False
1,xt4sa64WOrpJvZBDPNPNYg,Jacob's Pickles,4298,New York,Comfort Food,4.0,$$,40.786650,-73.975528,False
2,q11TljTQd33XCWlVoPyRqg,The Osprey,228,Brooklyn,American (New),4.0,$$,40.702241,-73.995539,False
3,B3_K2kUVbYOU0VaLcj_LTw,Thai Villa,3522,New York,Thai,4.5,$$,40.739020,-73.990650,False
4,Ms3CAGddVbgetiQrpzqxPQ,Hometown Bar-B-Que,1411,Brooklyn,Barbeque,4.0,$$,40.674860,-74.016020,False
...,...,...,...,...,...,...,...,...,...,...
995,X5MHVPB9QZym8hrQAd-sWQ,Happy Greek Cafe,28,Memphis,Mediterranean,4.5,$,35.116650,-89.946090,False
996,rB5uSDXgbj995hJ0wxZFmQ,Payne's Bar-B-Que,281,Memphis,Barbeque,4.5,$,35.118170,-90.003060,False
997,ZLsD_YWTBJFtUdQYO3p32g,Boscos Restaurant & Brewing Company,335,Memphis,American (New),3.5,$$,35.136913,-89.990517,False
998,6ZlFEgOTDmdaAmo_upc3Bg,Evelyn & Olive,224,Memphis,Caribbean,4.0,$$,35.141751,-90.039879,False
999,0s7x6iXviZTBDHPSfxF-4A,The Liquor Store,199,Memphis,Breakfast & Brunch,4.0,$$,35.147387,-89.970886,False

In [47]:
df.loc[df['price'] == '$', 'price'] = 1
df.loc[df['price'] == '$$', 'price'] = 2
df.loc[df['price'] == '$$$', 'price'] = 3
df.loc[df['price'] == '$$$$', 'price'] = 4
df

,id,name,review_count,location,category,rating,price,latitude,longitude,is_closed
0,ETgJqJHV7BW6pIr9Ox74sA,Amélie,2699,New York,French,4.5,2,40.732700,-73.997660,False
1,xt4sa64WOrpJvZBDPNPNYg,Jacob's Pickles,4298,New York,Comfort Food,4.0,2,40.786650,-73.975528,False
2,q11TljTQd33XCWlVoPyRqg,The Osprey,228,Brooklyn,American (New),4.0,2,40.702241,-73.995539,False
3,B3_K2kUVbYOU0VaLcj_LTw,Thai Villa,3522,New York,Thai,4.5,2,40.739020,-73.990650,False
4,Ms3CAGddVbgetiQrpzqxPQ,Hometown Bar-B-Que,1411,Brooklyn,Barbeque,4.0,2,40.674860,-74.016020,False
...,...,...,...,...,...,...,...,...,...,...
995,X5MHVPB9QZym8hrQAd-sWQ,Happy Greek Cafe,28,Memphis,Mediterranean,4.5,1,35.116650,-89.946090,False
996,rB5uSDXgbj995hJ0wxZFmQ,Payne's Bar-B-Que,281,Memphis,Barbeque,4.5,1,35.118170,-90.003060,False
997,ZLsD_YWTBJFtUdQYO3p32g,Boscos Restaurant & Brewing Company,335,Memphis,American (New),3.5,2,35.136913,-89.990517,False
998,6ZlFEgOTDmdaAmo_upc3Bg,Evelyn & Olive,224,Memphis,Caribbean,4.0,2,35.141751,-90.039879,False
999,0s7x6iXviZTBDHPSfxF-4A,The Liquor Store,199,Memphis,Breakfast & Brunch,4.0,2,35.147387,-89.970886,False

In [48]:
df.to_csv('/Users/marinaduarte/Documents/Project-2-Yelp/records.csv', index = False, header = True)